:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #223a2c);
  height: 100%;
}

main {
  min-height: 84%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 700;
}


html {
  height: 100vh;
}